// Gets the size of the root font
@function getrootsize() {
	@return nth($sizes, 1) / 16 * 100%;
}

// Returns the scale
@function getscale($value, $ratio) {
	@return pow($ratio, $value) / 16 * 100%;
}

// Sass version of Math.pow()
@function pow($number, $exp) {
	$value: 1;
	@if $exp > 0 {
		@for $i from 1 through $exp {
			$value: $value * $number;
		}
	}
	@else if $exp < 0 {
		@for $i from 1 through -$exp {
			$value: $value / $number;
		}
	}
	@return $value;
}

// Value in scale in $modular-scale
@function in-modular-scale($scale, $key) {
	$map: map-get($modular-scale, $scale);
	$output: map-has-key($map, $key);
	@return $output;
}
