@function getrootsize() {
	@return nth($sizes, 1) / 16 * 100%;
}

@function getscale($value, $ratio) {
	@return pow($ratio, $value) / 16 * 100%;
}

@function pow($number, $exp) {
	$value: 1;
	@if $exp > 0 {
		@for $i from 1 through $exp {
			$value: $value * $number;
		}
	}
	@else if $exp < 0 {
		@for $i from 1 through -$exp {
			$value: $value / $number;
		}
	}
	@return $value;
}
